/* just to be able to see the div, this is your starting point*/
/* You can create your own classess, animations etc*/
div{
  position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    transition: all 1s ease-in-out;
 
}
@keyframes MoveUpDown {
    0%,100%{  
        transform: translateY(0);
    }
    50%{
        transform: translateY(-100px);
    }
  
}
#to-be-animated {
  width: 200px;
  height: 200px;
  background-color: red;
  padding-left: 100;
  
}
